<div class="sidebar d-flex flex-column">

    <!-- Logo -->
    <a class="logo navbar-brand d-flex align-items-center justify-content-center gap-2 m-0" routerLink="/">
        <div class="logo-box">L</div>
        <span class="brand-name">LUXE</span>
    </a>

    <ul class="nav flex-column sidebar-menu">

        <li class="nav-item">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
                <i class="ri-dashboard-line"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/orders" routerLinkActive="active" class="nav-link">
                <i class="ri-shopping-cart-line"></i>
                <span>Orders</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/products" routerLinkActive="active" class="nav-link">
                <i class="ri-box-3-line"></i>
                <span>Products</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/categories" routerLinkActive="active" class="nav-link">
                <i class="ri-folder-line"></i>
                <span>Categories</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/customers" routerLinkActive="active" class="nav-link">
                <i class="ri-group-line"></i>
                <span>Customers</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/inventory" routerLinkActive="active" class="nav-link">
                <i class="ri-store-2-line"></i>
                <span>Inventory</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/analytics" routerLinkActive="active" class="nav-link">
                <i class="ri-bar-chart-box-line"></i>
                <span>Analytics</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/reviews" routerLinkActive="active" class="nav-link">
                <i class="ri-star-line"></i>
                <span>Reviews</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/coupons" routerLinkActive="active" class="nav-link">
                <i class="ri-price-tag-3-line"></i>
                <span>Coupons & Offers</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/settings" routerLinkActive="active" class="nav-link">
                <i class="ri-settings-3-line"></i>
                <span>Settings</span>
            </a>
        </li>

    </ul>

    <div class="logout-section">
        <a class="nav-link logout-btn">
            <i class="ri-logout-box-r-line"></i>
            <span>Logout</span>
        </a>
    </div>

</div>