<header class="header">

    <div class="search-box">

        <i class="ri-search-line"></i>

        <input type="text" class="form-control" placeholder="Search products, orders, customers..." />

    </div>

    <div class="header-actions">

        <div class="icon-wrapper">

            <i class="ri-notification-3-line"></i>

            <span class="badge-dot red"></span>

        </div>

        <div class="icon-wrapper">

            <i class="ri-message-2-line"></i>

            <span class="badge-dot green"></span>

        </div>

        <div class="divider"></div>

        <div class="profile">

            <img src="https://i.pravatar.cc/100" alt="user" />

            <div class="profile-info">
                <h6>John Merchant</h6>
                <span>Shop Owner</span>
            </div>

            <i class="ri-arrow-down-s-line"></i>

        </div>

    </div>

</header>